p {
	color: blue;
	background: yellow;
	font-weight: bold;
	text-align: center;
}

footer {
  background-color: #134c7d;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 8px yellow;
}