table {
	border: 1px solid silver;
}

td:hover {
	background-color: white;
	color: darkgreen;
}

tr, th {
	background-color: blue;
	color: red;
}

tr, td {
	background-color: darkgreen;
	color: white;
}